extends ../_template

block variables
    - var url = '../utils/grid.html';

block component-name
    | Grid

block component
    h4.title Default Grid
    h5.subtitle Three Column Grid

    :jade
        .three__column
            .skills
                .skill
                .skill
                .skill

    :scss
        .three__column {
            .skills {
                @extend %ko-grid;
            }

            .skill {
                @extend %ko-grid__cell--4;
                background-color: red;
                height: 30px;
            }
        }

    h5.subtitle Alternating Column Grid
    :jade
        .alternating__column
            .skills
                .skill
                .skill

    :scss
        .alternating__column {
            .skills {
                @extend %ko-grid;
            }

            .skill {
                @extend %ko-grid__cell--4;
                background-color: red;
                height: 30px;
            }

            .skill:nth-child(2) {
                @extend %ko-grid__cell--8;
            }
        }

    h5.subtitle Offset Column Grid
    :jade
        .offset__column
            .skills
                .skill
                .skill
                .skill


    :scss
        .offset__column {
            .skills {
                @extend %ko-grid;
            }

            .skill {
                @extend %ko-grid__cell--6;
                background-color: red;
                height: 30px;
            }

            .skill:nth-child(3) {
                @extend %ko-grid__cell--offset-6;
            }
        }

    h4.title Responsive Grid

    :jade
        .responsive__column
            .skills
                .skill
                .skill
                .skill

    :scss
        .responsive__column {
            .skills {
                @extend %ko-grid;
            }

            .skill {
                @extend %ko-grid__cell_s--12, %ko-grid__cell_m--6, %ko-grid__cell_l--4;
                background-color: red;
                height: 30px;
            }
        }