extends ../template

block variables
    - var url = '../utils/grid.html';

block component-name
    | Grid

block component
    h4.title Default Grid
    h5.subtitle Three Column Grid

    .three__column
        :jade
            .skills
                .skill
                .skill
                .skill

    :scss
        .skills {
            @extend %ko-grid;
        }

        .skill {
            @extend %ko-grid__cell--4;
            background-color: red;
            height: 30px;
        }

    h5.subtitle Alternating Column Grid
    .alternating__column
        :jade
            .skills
                .skill
                .skill

    :scss
        .skills {
            @extend %ko-grid;
        }

        .skill {
            @extend %ko-grid__cell--4;
            background-color: red;
            height: 30px;
        }

        .skill:nth-child(2) {
            @extend %ko-grid__cell--8;
        }

    h5.subtitle Offset Column Grid
    .offset__column
        :jade
            .skills
                .skill
                .skill
                .skill


    :scss
        .skills {
            @extend %ko-grid;
        }

        .skill {
            @extend %ko-grid__cell--6;
            background-color: red;
            height: 30px;
        }

        .skill:nth-child(3) {
            @extend %ko-grid__cell--offset-6;
        }

    h4.title Responsive Grid

    .responsive__column
        :jade
            .skills
                .skill
                .skill
                .skill

    :scss
        .skills {
            @extend %ko-grid;
        }

        .responsive__column .skill {
            @extend %ko-grid__cell_s--12, %ko-grid__cell_m--6, %ko-grid__cell_l--4;
            background-color: $demo-grid-color;
            height: 30px;
        }