extends ../_template

block variables
    - var url = '../utils/icons.html';

block component-name
    | Icons

block component
    h3.title Example icons
    :jade
        i.ko-icon--arrow-down
        i.ko-icon--arrow-left
        i.ko-icon--arrow-right
        i.ko-icon--arrow-up
        i.ko-icon--chevron-down
        i.ko-icon--chevron-left
        i.ko-icon--chevron-right
        i.ko-icon--chevron-up
        i.ko-icon--eye
        i.ko-icon--linkedin
        i.ko-icon--lock-closed
        i.ko-icon--lock-open
        i.ko-icon--mail
        i.ko-icon--plus
        i.ko-icon--tick
        i.ko-icon--twitter
        i.ko-icon--user
        i.ko-icon--web
    style.
        i {
            margin: 20px !important;
        }

    h3.title Colors
    :jade
        i.test.ko-icon--arrow-down

    :scss
        .test {
            color: $ko-color-primary;
        }