extends ../template

block variables
    - var url = '../utils/typography.html';

block component-name
    | Typography

    block util
    h4.title Default Header
    :jade
        h4.custom-title
            | Header
    :scss
        .custom-title {
            @extend %ko-font--uppercase;
        }
    h4.title Highlighted Header
    :jade
        h4.custom-title-hl
            | Header
    :scss
        .custom-title-hl {
            @extend %ko-font--uppercase;
            @extend %ko-font--highlighted;
        }
    h4.title  Font Sizes
    :jade
        p
            | This is base
    :jade
        p.custom-large
            | This is large text
    :scss
        .custom-large {
            @extend %ko-font--large;
        }
    :jade
        p.custom-small
            | This is small text
    :scss
        .custom-small {
            @extend %ko-font--small;
        }

    h4.title  Font Colors
    :jade
        p.success
            | This is success text
    :scss
        .success {
            @extend %ko-font--success;
         }
    :jade
        p.danger
            | This is danger text
    :scss
        .danger {
            @extend %ko-font--danger;
        }
    :jade
        p.warning
            | This is warning text
    :scss
        .warning {
            @extend %ko-font--warning;
        }
    :jade
        p.info
            | This is info text
    :scss
        .info {
            @extend %ko-font--info;
        }
    h4.title  Header Sizes
    :jade
        h1
            | Header 1
        h2
            | Header 2
        h3
            | Header 3
        h4
            | Header 4
        h5
            | Header 5
        h6
            | Header 6