extends ../template

block variables
    - var url = '../utils/typography.html';

block component-name
    | Typography

    h4.title Text
    :jade
        p
            | This is base
    :jade
        p.custom-large
            | This is large text
    :scss
        .custom-large {
            @extend %ko-font--large;
        }
    :jade
        p.custom-small
            | This is small text
    :scss
        .custom-small {
            @extend %ko-font--small;
        }

    h4.title Text Colors
    :jade
        p.success
            | This is success text
    :scss
        .success {
            @extend %ko-font--success;
        }

    :jade
        p.danger
            | This is danger text
    :scss
        .danger {
            @extend %ko-font--danger;
        }
    :jade
        p.warning
            | This is warning text
    :scss
        .warning {
            @extend %ko-font--warning;
        }
    :jade
        p.info
        | This is info text

    :scss
        .info {
            @extend %ko-font--info;
        }

    h4.title Font Weights
    :jade
        p.some-class
            | This is regular
    :scss
        .some-class {
            @extend %ko-font--regular;
        }
    :jade
        p.some-class2
            | This is thin
    :scss
        .some-class2 {
            @extend %ko-font--thin;
        }
    :jade
        p.some-class3
            | This is bold
    :scss
        .some-class3 {
            @extend %ko-font--bold;
        }

    h4.title Headers
    :jade
        h1
            | Header 1
        h2
            | Header 2
        h3
            | Header 3
        h4
            | Header 4
        h5
            | Header 5
        h6
            | Header 6

    h4.title Uppercase Headers
    :jade
        h4.custom-header
            | Header
    :scss
        .custom-header {
            @extend %ko-font--uppercase;
        }

    h4.title Highlighted Header
    :jade
        h4.custom-header-2
            | Header
    :scss
        .custom-header-2 {
            @extend %ko-font--highlighted;
        }