extends ../template

block variables
    - var url = '../utils/typography.html';

block component-name
    | Typography

block component
    h4.title Text
    :jade
        p
            | This is base
    :jade
        p.custom-large
            | This is large text
    :scss
        .custom-large {
            @extend %ko-font--large;
        }
    :jade
        p.custom-small
            | This is small text
    :scss
        .custom-small {
            @extend %ko-font--small;
        }

    h4.title Text Colors
    :jade
        p.primary
            | This is primary text
    :scss
        .primary {
            @extend %ko-font--primary;
        }

    :jade
        p.success
            | This is success text
    :scss
        .success {
            @extend %ko-font--success;
        }

    :jade
        p.danger
            | This is danger text
    :scss
        .danger {
            @extend %ko-font--danger;
        }

    :jade
        p.warning
            | This is warning text
    :scss
        .warning {
            @extend %ko-font--warning;
        }

    :jade
        p.info
            | This is info text
    :scss
        .info {
            @extend %ko-font--info;
        }

    h4.title Headers
    p.text By default all header tags are styled.
    :jade
        h1
            | Header 1
        h2
            | Header 2
        h3
            | Header 3
        h4
            | Header 4
        h5
            | Header 5
        h6
            | Header 6
    p.text but you can also use the scss placeholder classes.
    :scss
        .my-text {
            @extend %ko-font-header--xxl;
        }

        .my-text {
            @extend %ko-font-header--xl;
        }

        .my-text {
            @extend %ko-font-header--lg;
        }

        .my-text {
            @extend %ko-font-header--md;
        }

        .my-text {
            @extend %ko-font-header--sm;
        }

        .my-text {
            @extend %ko-font-header--xs;
        }

    h4.title Uppercase Headers
    :jade
        h4.custom-header
            | Header
    :scss
        .custom-header {
            @extend %ko-font--uppercase;
        }