.example {
  border: solid thin $demo-color-shade-20;
  margin-top: 20px;
  padding: 20px;

  + .code {
    border-top: 0;
    margin-top: 0;
  }
}

.code {
  background-color: $demo-color-shade-10;
  border: solid thin $demo-color-shade-20;
  font-size: 16px;
  margin-top: 20px;
  padding: 15px;
  position: relative;

  + .code {
    border-top: 0;
    margin-top: 0;
  }
}

.hljs {
  background-color: $demo-color-shade-10;
  font-family: monospace;

  &.code--copying {
    &::selection {
      background-color: transparent;
      color: inherit;
    }

    *::selection {
      background-color: transparent;
      color: inherit;
    }
  }
}

.code__copy {
  background-color: $demo-color-white;
  border: solid thin $demo-color-shade-20;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;

  &:hover {
    background-color: $demo-color-primary-light;
  }
}
