.intro {
  color: $demo-color-primary;
  margin-top: 50vh;
  text-align: center;
  transform: translateY(-50%);
}

.intro__logo {
  font-family: 'Bangers', cursive;
  font-size: 90px;
}

.intro__subtitle {
  color: $demo-color-shade-80;
  font-size: 24px;
}

.intro__link {
  border: solid thin $demo-color-primary;
  color: inherit;
  display: inline-block;
  margin-top: 20px;
  padding: 20px 30px;
  text-decoration: inherit;
}
