$sidebar-width: 200px;

.sidebar {
  background-color: $demo-color-primary;
  bottom: 0;
  color: $demo-color-white;
  left: 0;
  overflow: auto;
  padding: 80px 0 40px;
  position: fixed;
  top: 0;
  width: $sidebar-width;
}

.sidebar__logo {
  background-color: $demo-color-primary;
  box-shadow: 0 1px 1px rgba(darken($demo-color-primary, 10%), .5);
  color: inherit;
  display: block;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  line-height: 80px;
  position: fixed;
  text-align: center;
  text-decoration: inherit;
  top: 0;
  width: $sidebar-width;
}

.sidebar__item {
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: inherit;
  width: 100%;

  &:hover {
    background-color: lighten($demo-color-primary, 10%);
  }

  &:active {
    background-color: lighten($demo-color-primary, 15%);
  }

  &.sidebar__item--active {
    background-color: lighten($demo-color-primary, 10%);
  }
}

.sidebar__title {
  border-bottom: solid 5px $demo-color-white;
  margin: 20px;
  padding-bottom: 10px;
}

.content {
  margin-left: $sidebar-width;
  padding: 20px;
}
