$sidebar-width: 200px;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background-color: $primary-color;
  color: white;
  overflow: auto;
  padding: 80px 0 40px;
}

.sidebar__logo {
  font-family: 'Bangers', cursive;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  display: block;
  position: fixed;
  top: 0;
  width: $sidebar-width;
  background-color: $primary-color;
  box-shadow: 0 1px 1px rgba(darken($primary-color, 10%), .5);
}

.sidebar__item {
  color: inherit;
  text-decoration: inherit;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:active {
    background-color: lighten($primary-color, 15%);
  }

  &.sidebar__item--active {
    background-color: lighten($primary-color, 10%);
  }
}

.sidebar__title {
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: solid 5px #fff;
}

.content {
  margin-left: $sidebar-width;
  padding: 20px;
}