@import url(https://fonts.googleapis.com/css?family=Bangers);

.content__title {
  border-bottom: solid thin $color-shade-20;
  color: $color-primary;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 40px;
  padding-bottom: 20px;
}

.title {
  color: $color-shade-80;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}

.subtitle {
  color: $color-primary;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-top: 30px;
}

.text {
  margin: 20px 0;
}

body {
  color: $color-shade-60;
}
