$demo-color-primary: $ko-color-primary;
$demo-color-primary-light: lighten($demo-color-primary, 10%);
$demo-color-shade-10: #f5f5f5;
$demo-color-shade-20: #e5e5e5;
$demo-color-shade-60: #333;
$demo-color-shade-80: #999;

$demo-color-white: #fff;
