extends ../_template

block variables
    - var url = '../components/avatar.html';

block component-name
    | Avatar

block component
    h5.subtitle small avatar

    :jade
        img(class="ko-avatar--small" src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg")

    h5.subtitle default avatar

    :jade
        img(class="ko-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg")


    h5.subtitle large avatar

    :jade
        img(class="ko-avatar--large" src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg")
