extends ../_template

block variables
    - var url = '../components/breadcrumbs.html';

block component-name
    | Breadcrumbs

block component
    h4.title Breadcrumbs

    :jade
        .ko-breadcrumbs
            a.ko-breadcrumbs__item(href="#") Resumes
            a.ko-breadcrumbs__item General resume



