extends ../template

block variables
    - var url = '../components/breadcrumbs.html';

block component-name
    | Breadcrumbs

block component

    h5.subtitle Breadcrumbs

    :jade
        .ko-breadcrumbs
            a.ko-breadcrumbs__item(href="") Resumes
            i.ko-breadcrumbs__icon
            a.ko-breadcrumbs__item--active General resume



