extends ../template

block variables
    - var url = '../components/button.html';

block component-name
    | Button

block component
    h4.title Default Button
    :jade
        div.custom-button
            | My Button
            p.test
    :html
        <div class="custom-button">
            My Button
            <p class="test"></p>
        </div>

    :scss
        .custom-button {   
            color: hotpink;
        }