extends ../template

block variables
    - var url = '../components/button.html';

block component-name
    | Button

block component
    h4.title Default Button
    :jade
        div.btn
            | My Button
            p.test
    :html
        <div class="btn">
            My Button
            <p class="test"></p>
        </div>

    :scss
        .custom-button {
            @extend .knock-btn;
        }