extends ../_template

block variables
    - var url = '../components/checkbox.html';

block component-name
    | Checkbox

block component
    h4.title Checkbox
    :jade
        div.ko-checkbox
            input.ko-checkbox__input(type="checkbox" id="default-checkbox")
            label.ko-checkbox__label(for="default-checkbox") Remember me
        br
        div.ko-checkbox
            input.ko-checkbox__input(type="checkbox" id="default-checked-checkbox" checked)
            label.ko-checkbox__label(for="default-checked-checkbox") Remember me

    h4.title Disabled Checkbox
    :jade
        div.ko-checkbox
            input.ko-checkbox__input(type="checkbox" id="disabled-checked-checkbox" disabled="disabled")
            label.ko-checkbox__label(for="disabled-checked-checkbox") Remember me
        br
        div.ko-checkbox
            input.ko-checkbox__input(type="checkbox" id="disabled-checked-checkbox" disabled="disabled" checked)
            label.ko-checkbox__label(for="disabled-checked-checkbox") Remember me