extends ../_template

block variables
    - var url = '../components/definition.html';

block component-name
    | Definition

block component
    h4.title Default Definition
    :jade
        .ko-definition
            h5.ko-definition__title
                | Example
            p.ko-definition__text
                | Bacon ipsum dolor amet shank aute frankfurter nulla. Tempor short ribs brisket, tri-tip dolore consequat ham hock pork chop do incididunt fugiat nostrud enim alcatra. Cillum enim occaecat, velit ut ground round magna do aute strip steak. Pariatur hamburger enim occaecat prosciutto. Boudin chuck t-bone est adipisicing, aute porchetta duis.

        .ko-definition
            h5.ko-definition__title
                | Example
            p.ko-definition__text
                | Bacon ipsum dolor amet shank aute frankfurter nulla. Tempor short ribs brisket, tri-tip dolore consequat ham hock pork chop do incididunt fugiat nostrud enim alcatra. Cillum enim occaecat, velit ut ground round magna do aute strip steak. Pariatur hamburger enim occaecat prosciutto. Boudin chuck t-bone est adipisicing, aute porchetta duis.

    h4.title Two Columns Definition
    :jade
        .ko-definition--horizontal
            h5.custom-title.ko-definition__title
                | Example
            p.ko-definition__text
                | Bacon ipsum dolor amet shank aute frankfurter nulla. Tempor short ribs brisket, tri-tip dolore consequat ham hock pork chop do incididunt fugiat nostrud enim alcatra. Cillum enim occaecat, velit ut ground round magna do aute strip steak. Pariatur hamburger enim occaecat prosciutto. Boudin chuck t-bone est adipisicing, aute porchetta duis.
        .ko-definition--horizontal
            h5.custom-title.ko-definition__title
                | Example Long Title
            p.ko-definition__text
                | Bacon ipsum dolor amet shank aute frankfurter nulla. Tempor short ribs brisket, tri-tip dolore consequat ham hock pork chop do incididunt fugiat nostrud enim alcatra. Cillum enim occaecat, velit ut ground round magna do aute strip steak. Pariatur hamburger enim occaecat prosciutto. Boudin chuck t-bone est adipisicing, aute porchetta duis.
    :scss
        .custom-title {
            @extend %ko-font--success;
        }
