extends ../template

block variables
    - var url = '../components/footer.html';

block component-name
    | Footer

block component
    h5.subtitle Footer
    :jade
        div.ko-footer
            img.ko-footer__icon(src="http://www.w3schools.com/html/html5.gif")
