extends ../_template

block variables
    - var url = '../components/header.html';

block component-name
    | Header

block component
    h5.subtitle Header

    :jade
        .ko-header
            img.ko-header__icon(src="http://www.w3schools.com/html/html5.gif")


