extends ../template

block variables
    - var url = '../components/input.html';

block component-name
    | Input

block component
    h5.subtitle default
    :jade
        <input type='text' class='ko-input' />
