extends ../template

block variables
    - var url = '../components/input.html';

block component-name
    | Input

block component
    h5.subtitle Input Default
    :jade
        <input type='text' class='ko-input' /> <br />
        <input type='text' class='ko-input--success' /> <br />
        <input type='text' class='ko-input--danger' /> <br />
        <input type='text' class='ko-input--warning' /> <br />
        <input type='text' class='ko-input--info' />
