extends ../_template

block variables
    - var url = '../components/link.html';

block component-name
    | Link

block component
    h4.title Default Link
    :jade
        a(class='ko-link', href='somelink.com') Click here

    h4.title Success Link
    :jade
        a(class='ko-link--succes', href='#') Click here

    h4.title Danger Link
    :jade
        a(class='ko-link--danger', href='#') Click here

    h4.title Disabled Link
    :jade
        a(class='ko-link--disabled', href='#') Click here