extends ../_template

block variables
    - var url = '../components/list.html';

block component-name
    | List

block component
    h4.title Default list
    :jade
        ul
            each val in ["Football", "Dj'ing", "Running Marathons"]
                li.ko-list__item= val