extends ../template

block variables
    - var url = '../components/popover.html';

block component-name
    | Popover

block component
    h4.title Default Popover (no arrow)
    :jade
        .ko-popover
            p lorem ipsum
    h4.title Popover Top Left
    :jade
        .ko-popover--top-left
            p lorem ipsum
    h4.title Popover Top Middle
    :jade
        .ko-popover--top-middle
            p lorem ipsum