extends ../template

block variables
    - var url = '../components/popover.html';

block component-name
    | Popover

block component
    h4.title Default Popover
    :jade
        .popover
            p test
    :scss
        .popover {
            @extend %ko-popover;
        }