extends ../template

block variables
    - var url = '../components/popover.html';

block component-name
    | Popover

block component
    h4.title Default Popover (no arrow)
    :jade
        .ko-popover
            p lorem ipsum
    h4.title Popover Top Left
    :jade
        .ko-popover--top-left
            p lorem ipsum
    h4.title Popover Top Middle
    :jade
        .ko-popover--top-middle
            p lorem ipsum
    h4.title Popover Top Right
    :jade
        .ko-popover--top-right
            p lorem ipsum
    h4.title Popover Left Top
    :jade
        .ko-popover--left-top
            p lorem ipsum
    h4.title Popover Left Middle
    :jade
        .ko-popover--left-middle
            p lorem ipsum
    h4.title Popover Left Bottom
    :jade
        .ko-popover--left-bottom
            p lorem ipsum
    h4.title Popover Bottom Left
    :jade
        .ko-popover--bottom-left
            p lorem ipsum
    h4.title Popover Bottom Middle
    :jade
        .ko-popover--bottom-middle
            p lorem ipsum
    h4.title Popover Bottom Right
    :jade
        .ko-popover--bottom-right
            p lorem ipsum
    h4.title Popover Right Top
    :jade
        .ko-popover--left-top
            p lorem ipsum
    h4.title Popover Left Middle
    :jade
        .ko-popover--left-middle
            p lorem ipsum
    h4.title Popover Left Bottom
    h4.title Popover Left Top
    :jade
        .ko-popover--left-top
            p lorem ipsum
    h4.title Popover Left Middle
    :jade
        .ko-popover--left-middle
            p lorem ipsum
    h4.title Popover Left Bottom
    :jade
        .ko-popover--left-bottom
            p lorem ipsum
    h4.title Popover Right Top
    :jade
        .ko-popover--right-top
            p lorem ipsum
    h4.title Popover Right Middle
    :jade
        .ko-popover--right-middle
            p lorem ipsum
    h4.title Popover Right Bottom
    :jade
        .ko-popover--right-bottom
            p lorem ipsum