extends ../template

block variables
    - var url = '../components/progress-circle.html';

block component-name
    | Progress Circle

block component
    
    style.
        .example div {
            margin-bottom: 20px;
        }
    
    :jade
        .progress-circle--10
            .progress-circle__overlay 10%
        .progress-circle--20
            .progress-circle__overlay 20%
        .progress-circle--30
            .progress-circle__overlay 30%
        .progress-circle--40
            .progress-circle__overlay 40%
        .progress-circle--50
            .progress-circle__overlay 50%
        .progress-circle--60
            .progress-circle__overlay 60%