extends ../_template

block variables
    - var url = '../components/progress-circle.html';

block component-name
    | Progress Circle

block component

    style.
        .example .custom {
            margin-bottom: 20px;
        }

    :jade
        .custom.ko-progress-circle--10
            .ko-progress-circle__overlay 10%
            .ko-progress-circle__slice
                .ko-progress-circle__bar
                .ko-progress-circle__fill

        .custom.ko-progress-circle--20
            .ko-progress-circle__overlay 20%
            .ko-progress-circle__slice
                .ko-progress-circle__bar
                .ko-progress-circle__fill

        .custom.ko-progress-circle--30
            .ko-progress-circle__overlay 30%
            .ko-progress-circle__slice
                .ko-progress-circle__bar
                .ko-progress-circle__fill

        .custom.ko-progress-circle--40
            .ko-progress-circle__overlay 40%
            .ko-progress-circle__slice
                .ko-progress-circle__bar
                .ko-progress-circle__fill

        .custom.ko-progress-circle--50
            .ko-progress-circle__overlay 50%
            .ko-progress-circle__slice
                .ko-progress-circle__bar
                .ko-progress-circle__fill

        .custom.ko-progress-circle--60
            .ko-progress-circle__overlay 60%
            .ko-progress-circle__slice
                .ko-progress-circle__bar
                .ko-progress-circle__fill

        .custom.ko-progress-circle--70
            .ko-circle
                .full.ko-progress-circle__slice
                    .ko-progress-circle__fill
                .ko-progress-circle__slice
                    .ko-progress-circle__fill
                    .ko-progress-circle__fill.ko-progress-circle__bar
            .ko-progress-circle__overlay 70%