extends ../_template

block variables
    - var url = '../components/progress-circle.html';

block component-name
    | Progress Circle

block component

    style.
        .example .custom {
            margin-bottom: 20px;
        }

    :jade
        .custom.ko-progress-circle--20
            .ko-circle
                .ko-progress-circle__full.ko-progress-circle__slice
                    .ko-progress-circle__fill
                .ko-progress-circle__slice
                    .ko-progress-circle__fill
                    .ko-progress-circle__fill.ko-progress-circle__bar
            .ko-progress-circle__overlay 20%

        .custom.ko-progress-circle--50
            .ko-circle
                .ko-progress-circle__full.ko-progress-circle__slice
                    .ko-progress-circle__fill
                .ko-progress-circle__slice
                    .ko-progress-circle__fill
                    .ko-progress-circle__fill.ko-progress-circle__bar
            .ko-progress-circle__overlay 50%

        .custom.ko-progress-circle--80
            .ko-circle
                .ko-progress-circle__full.ko-progress-circle__slice
                    .ko-progress-circle__fill
                .ko-progress-circle__slice
                    .ko-progress-circle__fill
                    .ko-progress-circle__fill.ko-progress-circle__bar
            .ko-progress-circle__overlay 80%