extends ../template

block variables
    - var url = '../components/section-header.html';

block component-name
    | Section Header

block component
    h4.title Section Header
    :jade
        h2.ko-section-header
            | Education