extends ../template
block variables
    - var url = '../components/select.html';
block component-name
    | Select
block component
    h4.title Default Select
    :jade
        label.ko-select.ko-icon--chevron-down
            select
                option default option 1
                option default option 2
                option default option 3
    h4.title Disabled Select
    :jade
        label.ko-select.ko-icon--chevron-down
            select(disabled="disabled")
                option disabled option 1
                option disabled option 2
                option disabled option 3
    h4.title Select states
    :jade
        label.ko-select--success.ko-icon--chevron-down
            select
                option success option 1
                option success option 2
                option success option 3
        label.ko-select--danger.ko-icon--chevron-down
            select
                option danger option 1
                option danger option 2
                option danger option 3
        label.ko-select--warning.ko-icon--chevron-down
            select
                option warning option 1
                option warning option 2
                option warning option 3
        label.ko-select--info.ko-icon--chevron-down
            select
                option info option 1
                option info option 2
                option info option 3