extends ../template

block variables
    - var url = '../components/table.html';

block component-name
    | Table

    h4.title Default Table
        :jade
            div.ko-table
                div.ko-table__row
                    div.ko-table__cell
                        | icon
                    div.ko-table__cell
                        h5
                            | Development resume
                        p
                            | Kristof Peters
                    div.ko-table__cell
                        | Edited 2 days ago ->
                div.ko-table-row
                    div.ko-table__cell
                        | icon
                    div.ko-table__cell
                        h5
                            | Development resume
                    div.ko-table__cell
                        | Edited 2 days ago ->
                div.ko-table-row
                    div.ko-table__cell
                        | icon
                    div.ko-table__cell
                        h5
                            | Development resume
                        p
                            | Kristof Peters
                    div.ko-table__cell
                        | Edited 2 days ago ->