extends ../template

block variables
    - var url = '../components/tag.html';

block component-name
    | Tag

block component
    h4.title Default Tag
    :jade
        span.ko-tag
            | Javascript
        a.ko-tag
            | CSS3
    h4.title Highlighted Tag
    :jade
        span.ko-tag--highlighted
            | Sass
        a.ko-tag--highlighted
            | NodeJS