extends ../template

block variables
    - var url = '../components/textarea.html';

block component-name
    | Textarea

block component
    h4.title Default Textarea
    :html
        <textarea class="ko-textarea">I'm a normal textarea</textarea>
    h4.title Read-only Textarea
    :html
        <textarea class="ko-textarea" readonly>I'm a read-only textarea</textarea>
    h4.title Disabled Textarea
    :html
        <textarea class="ko-textarea" disabled>I'm a disabled textarea</textarea>
    h4.title Textarea States
    :html
        <textarea class="ko-textarea--success">I'm a success textarea</textarea>
        <textarea class="ko-textarea--danger">I'm a danger textarea</textarea>
        <textarea class="ko-textarea--warning">I'm a warning textarea</textarea>
        <textarea class="ko-textarea--info">I'm a info textarea</textarea>