extends ../template

block variables
    - var url = '../components/textarea.html';

block component-name
    | Textarea

block component
    h4.title Textarea
    :jade
        <textarea class='ko-textarea'></textarea>
    h4.title Textarea (success)
    :jade
        <textarea class='ko-textarea--success'></textarea>
    h4.title Textarea (danger)
    :jade
        <textarea class='ko-textarea--danger'></textarea>
    h4.title Textarea (warning)
    :jade
        <textarea class='ko-textarea--warning'></textarea>
    h4.title Textarea (info)
    :jade
        <textarea class='ko-textarea--info'></textarea>