extends ../template

block variables
    - var url = '../components/textarea.html';

block component-name
    | Textarea

block component
    h4.title Default Textarea
    :html
        <textarea class="ko-textarea" rows="5">I'm a normal textarea</textarea>
    h4.title Read-only Textarea
    :html
        <textarea class="ko-textarea" rows="5" readonly>I'm a read-only textarea</textarea>
    h4.title Disabled Textarea
    :html
        <textarea class="ko-textarea" rows="5" disabled>I'm a disabled textarea</textarea>
    h4.title Textarea States
    :html
        <textarea class="ko-textarea--success" rows="5">I'm a success textarea</textarea>
        <textarea class="ko-textarea--danger" rows="5">I'm a danger textarea</textarea>
        <textarea class="ko-textarea--warning" rows="5">I'm a warning textarea</textarea>
        <textarea class="ko-textarea--info" rows="5">I'm a info textarea</textarea>