extends ../template

block variables
    - var url = '../docs/getting-started.html';

block component-name
    | Getting Started

block component
    h4.title Installation
    p.text.
        First of all we want to start with installing the KnockUI framework.
    pre.code
        code.bash.
            bower install https://github.com/Euricom/knockui.git --save

    h4.title Including
    p.text.
        After installing KnockUI, we can now include it into our own .scss files. For example, in our app.scss file.
    pre.code
        code.scss.
            @import '../bower_components/knockui/lib/knockui';

    h4.title Usage
    p.text.
        KnockUI is a SCSS framework, which means it comes with some CSS classes, but also with some Sass mixins, variables, and placeholder classes.

    h5.subtitle Classes
    pre.code
        code.html.
            &lt;a class="ko-btn--primary"&gt;I'm a primary button&lt;/a&gt;

    h5.subtitle Variables
    pre.code
        code.scss.
            @import '../bower_components/knockui/lib/knockui';

            .custom__element {
                background-color: $ko-primary-color;
            }

    h5.subtitle Overriding Variables
    pre.code
        code.scss.
            $ko-primary-color: #bada55;

            @import '../bower_components/knockui/lib/knockui';

    h5.subtitle Mixins
    pre.code
        code.scss.
            @import '../bower_components/knockui/lib/knockui';

            .custom__element {
                @include ko-mixin;
            }

    h5.subtitle Placeholder Classes
    pre.code
        code.scss.
            @import '../bower_components/knockui/lib/knockui';

            .custom__element {
                @extend ko-col-sm-12, ko-col-md-6, ko-col-l-4;
            }

