extends ./template

block variables
    - var url = './button.html';

block component-name
    | Button

block component
    h4.title Default Button
    :source
        a.btn My Button

    h4.title Primary Button
    :source
        a.btn.btn-primary My Button
