doctype html
html
    head
        title KnockUI
        link(rel="stylesheet" href="style.css")
        link(rel="stylesheet" href="../bower_components/highlightjs/styles/github.css")
    body
        div.intro
            .intro__logo Knock UI
            .intro__subtitle Another SCSS Framework
            a.intro__link(href="./docs/getting-started.html") START KNOCKING