$primary-color: #1C79EF;
$sidebar-width: 200px;

@import '../lib/knockui';
@import url(https://fonts.googleapis.com/css?family=Bangers);


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background-color: $primary-color;
  color: white;
}

.sidebar__logo {
  font-family: 'Bangers', cursive;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  display: block;
}

.sidebar__item {
  color: inherit;
  text-decoration: inherit;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background-color: lighten($primary-color, 10%);
  }

  &:active {
    background-color: lighten($primary-color, 15%);
  }

  &.sidebar__item--active {
    background-color: lighten($primary-color, 10%);
  }
}

.sidebar__title {
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: solid 5px #fff;
}

.content {
  margin-left: $sidebar-width;
  padding: 20px;
}

.example {
  padding: 20px;
  border: solid thin #e5e5e5;
  margin-top: 20px;

  + .code {
    border-top: none;
    margin-top: 0;
  }
}

.code {
  background-color: #f5f5f5;
  border: solid thin #e5e5e5;
  padding: 15px;
  margin-top: 20px;
  font-family: monospace;
  font-size: 16px;

  code {
    background-color: #f5f5f5;
  }
}

.content__title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  padding-bottom: 20px;
  border-bottom: solid thin #e5e5e5;
  color: $primary-color;
}

.title {
  font-family: 'Raleway', sans-serif;
  color: #999;
  margin-top: 30px;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  color: $primary-color;
  margin-top: 30px;
  font-size: 14px;
}

.text {
  margin: 20px 0;
}

.intro {
  margin-top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  color: $primary-color;
}

.intro__logo {
  font-family: 'Bangers', cursive;
  font-size: 90px;
}

.intro__subtitle {
  font-size: 24px;
  color: #999;
}

.intro__link {
  display: inline-block;
  text-decoration: inherit;
  color: inherit;
  padding: 20px 30px;
  border: solid thin $primary-color;
  margin-top: 20px;
}

body {
  color: #333;
}
